body {
    background: radial-gradient(#9696e4, #4544ee);
    font-size: 1.2em;
    width: 50%;
    margin: 20px auto;
    padding: 30px;
    text-align: center;
    min-height: 50vh;
}

#songList {
    background: lightcyan;
    border-radius: 10px;
    text-align: center;
}
li {
    padding: 15px;
}

li:hover, svg:hover { 
    cursor: pointer;
}

#controls {
    border: 1px lightgray solid;
    border-radius: 10px;
    background: lightcyan;
}

svg {
    color: lightslategray;
}

progress {
    width: 80%;
    margin: 10px;
}